<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gofoodie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/launncher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.derived.DashboardActivity"
            android:icon="@drawable/launncher_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.derived.SplashActivity"
            android:icon="@drawable/launncher_icon"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.derived.LocationActivity"
            android:icon="@drawable/launncher_icon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.SubscriptionActivity"
            android:icon="@drawable/launncher_icon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.EditComboActivity"
            android:label="@string/title_activity_edit_combo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.derived.RestaurantProfileActivity"
            android:label="@string/title_activity_restaurant_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.derived.MealPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ShortlistedRestaurantsActivity"
            android:label="@string/title_activity_shortlisted_restaurants"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.PaymentGatewayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.PaymentGatewayFailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.PaymentGatewaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.AddShortlistedRestaurants"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.WeekPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ComboPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.CartOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.RestaurantBranchProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.InvoiceActivity"
            android:label="@string/invoice"
            android:screenOrientation="portrait" />
    </application>

</manifest>