<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.gofoodie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/gf_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, theme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.derived.DashboardActivity"
            android:icon="@drawable/launncher_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.derived.SplashActivity"
            android:icon="@drawable/launncher_icon"
            android:label="@string/welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.derived.LocationActivity"
            android:icon="@drawable/launncher_icon"
            android:label="@string/location_preference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.SubscriptionActivity"
            android:icon="@drawable/launncher_icon"
            android:label="@string/recharge_plans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.EditComboActivity"
            android:label="@string/title_activity_edit_combo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.derived.RestaurantProfileActivity"
            android:label="@string/title_activity_restaurant_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.derived.MealPreferenceActivity"
            android:label="@string/meal_preference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ShortlistedRestaurantsActivity"
            android:label="@string/title_activity_shortlisted_restaurants"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.RatingActivity"
            android:label="@string/reviews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.UpdateProfileActivity"
            android:label="@string/update_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.PaymentGatewayActivity"
            android:label="@string/payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.PaymentGatewayFailActivity"
            android:label="@string/failed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.PaymentGatewaySuccessActivity"
            android:label="@string/success"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.AddShortlistedRestaurants"
            android:label="@string/restaurant_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.WeekPreferenceActivity"
            android:label="@string/week_preference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ComboPlanActivity"
            android:label="@string/combo_plans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.CartOrderActivity"
            android:label="@string/meal_plan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.RestaurantBranchProfileActivity"
            android:label="@string/title_activity_restaurant_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.InvoiceActivity"
            android:label="@string/invoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.assistActivity.AssistantActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_assistant"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.derived.MyOrdersActivity"
            android:label="@string/my_orders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ChangePasswordActivity"
            android:label="@string/change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ComboDescriptionActivity"
            android:label="@string/title_activity_combo_description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.ForgotPasswordActivity"
            android:label="@string/password_reset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.derived.RestaurantComboActivity"
            android:label="@string/combo_plans"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.derived.AddressChangeRequestActivity"></activity>
    </application>

</manifest>